/*@media screen and (max-width: 1439px){
  .product__item{
    width: 1000px;
  }
}
@media screen and (max-width: 1279px){
  .product__item{
    width: 700px;
  }
}
@media screen and (max-width: 899px){
  .product__item{
    width: 600px;
  }
}*/